@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap");
@import 'tailwindcss' source('../');
@config "../../tailwind.config.mjs";

/*
Rapture's Light  0.9632 0.0162 95.23
Milk Tooth       0.9467 0.0311 75.22
Caramel Essence  0.7864 0.1109 75.06
Sapphire Dust    0.5526 0.1482 269.81
Blue Oblivion    0.4009 0.1263 265.29
Cosmic Odyssey   0.2248 0.0635 267.96
*/

@layer base {
  :root {
    --radius: 0.65rem;
    --font-serif: "Cormorant Garamond", serif;
    --font-sans: Manrope, sans-serif;

    --background: oklch(0.9913 0.0013 286.376);
    --foreground: oklch(0.2411 0.0097 248.229);
    --card: oklch(0.9943 0.0013 286.3761);
    --card-foreground: oklch(0.3126 0.0858 268.5964);
    --popover: oklch(0.9943 0.0013 286.3761);
    --popover-foreground: oklch(0.3126 0.0858 268.5964);
    --primary: oklch(0.5438 0.191 267.0054);
    --primary-foreground: oklch(0.9913 0.0013 286.376);
    --secondary: oklch(0.9321 0.0054 286.2953);
    --secondary-foreground: oklch(0.3126 0.0858 268.5964);
    --muted: oklch(0.956 0.004 286.324);
    --muted-foreground: oklch(0.5025 0.0136 264.4449);
    --accent: oklch(0.9346 0.031 269.8187);
    --accent-foreground: oklch(0.5092 0.1725 267.1656);
    --destructive: oklch(0.6284 0.1949 13.1504);
    --destructive-foreground: oklch(0.9936 0.0034 354.6882);
    --border: oklch(0.8873 0.0095 286.2044);
    --input: oklch(0.8873 0.0095 286.2044);
    --ring: oklch(0.7309 0.1123 270.429);
    --chart-1: oklch(0.5438 0.191 267.0054);
    --chart-2: oklch(0.5403 0.1841 278.2846);
    --chart-3: oklch(0.5417 0.179 288.0332);
    --chart-4: oklch(0.6453 0.0165 277.6998);
    --chart-5: oklch(0.6493 0.193 251.7799);
    --sidebar: oklch(0.9827 0.0026 286.3511);
    --sidebar-foreground: oklch(0.2411 0.0097 248.229);
    --sidebar-primary: oklch(0.5438 0.191 267.0054);
    --sidebar-primary-foreground: oklch(0.9913 0.0013 286.376);
    --sidebar-accent: oklch(0.9346 0.031 269.8187);
    --sidebar-accent-foreground: oklch(0.5092 0.1725 267.1656);
    --sidebar-border: oklch(0.8873 0.0095 286.2044);
    --sidebar-ring: oklch(0.7309 0.1123 270.429);
    --shadow-2xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
    --shadow-sm:
      0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 1px 2px -2px hsl(0 0% 0% / 0.1);
    --shadow:
      0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 1px 2px -2px hsl(0 0% 0% / 0.1);
    --shadow-md:
      0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 2px 4px -2px hsl(0 0% 0% / 0.1);
    --shadow-lg:
      0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 4px 6px -2px hsl(0 0% 0% / 0.1);
    --shadow-xl:
      0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 8px 10px -2px hsl(0 0% 0% / 0.1);
    --shadow-2xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.25);
  }

  .dark {
    --background: oklch(0.1785 0.0041 285.9807);
    --foreground: oklch(0.9489 0.0029 264.5417);
    --card: oklch(0.1909 0.0246 276.5267);
    --card-foreground: oklch(0.9108 0.0427 269.5516);
    --popover: oklch(0.1909 0.0246 276.5267);
    --popover-foreground: oklch(0.9108 0.0427 269.5516);
    --primary: oklch(0.5438 0.191 267.0054);
    --primary-foreground: oklch(0.9489 0.0029 264.5417);
    --secondary: oklch(0.2832 0.007 248.0749);
    --secondary-foreground: oklch(0.9108 0.0427 269.5516);
    --muted: oklch(0.2521 0.0058 271.1816);
    --muted-foreground: oklch(0.7686 0.0096 258.3418);
    --accent: oklch(0.3185 0.0946 267.248);
    --accent-foreground: oklch(0.7759 0.1138 273.0191);
    --destructive: oklch(0.6284 0.1949 13.1504);
    --destructive-foreground: oklch(0.1888 0.0139 1.8685);
    --border: oklch(0.3466 0.0103 253.9711);
    --input: oklch(0.3466 0.0103 253.9711);
    --ring: oklch(0.5021 0.1366 268.252);
    --chart-1: oklch(0.5438 0.191 267.0054);
    --chart-2: oklch(0.5403 0.1841 278.2846);
    --chart-3: oklch(0.5417 0.179 288.0332);
    --chart-4: oklch(0.537 0.0153 262.3428);
    --chart-5: oklch(0.6493 0.193 251.7799);
    --sidebar: oklch(0.2132 0.0042 264.4789);
    --sidebar-foreground: oklch(0.9489 0.0029 264.5417);
    --sidebar-primary: oklch(0.5438 0.191 267.0054);
    --sidebar-primary-foreground: oklch(0.9489 0.0029 264.5417);
    --sidebar-accent: oklch(0.3185 0.0946 267.248);
    --sidebar-accent-foreground: oklch(0.7759 0.1138 273.0191);
    --sidebar-border: oklch(0.3466 0.0103 253.9711);
    --sidebar-ring: oklch(0.5021 0.1366 268.252);
    --font-sans: Inter, sans-serif;
    --font-serif: Merriweather, serif;
    --font-mono: JetBrains Mono, monospace;
    --radius: 0.65rem;
    --shadow-2xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
    --shadow-sm:
      0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 1px 2px -2px hsl(0 0% 0% / 0.1);
    --shadow:
      0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 1px 2px -2px hsl(0 0% 0% / 0.1);
    --shadow-md:
      0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 2px 4px -2px hsl(0 0% 0% / 0.1);
    --shadow-lg:
      0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 4px 6px -2px hsl(0 0% 0% / 0.1);
    --shadow-xl:
      0px 4px 8px -1px hsl(0 0% 0% / 0.1), 0px 8px 10px -2px hsl(0 0% 0% / 0.1);
    --shadow-2xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.25);
  }

  @theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);

    --font-sans: var(--font-sans);
    --font-mono: var(--font-mono);
    --font-serif: var(--font-serif);

    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);

    --shadow-2xs: var(--shadow-2xs);
    --shadow-xs: var(--shadow-xs);
    --shadow-sm: var(--shadow-sm);
    --shadow: var(--shadow);
    --shadow-md: var(--shadow-md);
    --shadow-lg: var(--shadow-lg);
    --shadow-xl: var(--shadow-xl);
    --shadow-2xl: var(--shadow-2xl);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-sans;
  }
}
